<%= simple_form_for(@person) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :gender %>
    <%= f.input :birthdate %>
    <%= f.input :text %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
